<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Room</title>
  </head>

  <body>
    <h1>Add Room</h1>

    <form action="{% url 'add_room' %}" method="post">
      {% csrf_token %} {% if error %}
      <p>{{ error }}</p>
      {% endif %}

      <div class="container">
        <label for="room_number"><b>Room Number</b></label>

        <select name="room_number" required>
          {% for room in room_numbers %}
          <option value="{{ room }}">{{ room }}</option>
          {% endfor %}
        </select>

        <br /><br />

        <label for="is_available">
          <b>Room Available</b>
        </label>

        <input type="checkbox" name="is_available" checked />

        <br /><br />

        <button type="submit">Add Room</button>
      </div>
    </form>
  </body>
</html>
